@addTagHelper *, LazZiya.TagHelpers
@using WebSite.Application.Services.Rules.Queries.GetRule;
@model GetRuleDto;
@{
    ViewData["Title"] = "ویرایش قاعده";
    Layout = "_Layout";
}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">قاعده</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">ویرایش</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>نام قاعده</label>
                                    <input type="text" class="form-control" id="Name" value="@Model.Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>اندیکاتور</label>
                                    <select id="Indicator" class="form-control default-select" value="@Model.Indicator">
                                        <option @{if (Model.Indicator == "SMA") { <text>selected</text> } }>SMA</option>
                                        <option @{if (Model.Indicator == "WMA") { <text>selected</text> } }>WMA</option>
                                        <option @{if (Model.Indicator == "EMA") { <text>selected</text> } }>EMA</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>نماد</label>
                                    <select id="Symbol" class="form-control default-select" value="@Model.Symbol">
                                        <option @{if (Model.Symbol == "ETHBTC") { <text>selected</text> } }>ETHBTC</option>
                                        <option @{if (Model.Symbol == "LTCBTC") { <text>selected</text> } }>LTCBTC</option>
                                        <option @{if (Model.Symbol == "BNBBTC") { <text>selected</text> } }>BNBBTC</option>
                                        <option @{if (Model.Symbol == "NEOBTC") { <text>selected</text> } }>NEOBTC</option>
                                        <option @{if (Model.Symbol == "QTUMETH") { <text>selected</text> } }>QTUMETH</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>نوع قیمت ۱</label>
                                    <select id="MorePriceType" class="form-control default-select" value="@Model.MorePriceType">
                                        <option @{if (Model.MorePriceType == "Open") { <text>selected</text> } }>Open</option>
                                        <option @{if (Model.MorePriceType == "High") { <text>selected</text> } }>High</option>
                                        <option @{if (Model.MorePriceType == "Low") { <text>selected</text> } }>Low</option>
                                        <option @{if (Model.MorePriceType == "Close") { <text>selected</text> } }>Close</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>نوع قیمت ۲</label>
                                    <select id="LessPriceType" class="form-control default-select" value="@Model.LessPriceType">
                                        <option @{if (Model.LessPriceType == "Open") { <text>selected</text> } }>Open</option>
                                        <option @{if (Model.LessPriceType == "High") { <text>selected</text> } }>High</option>
                                        <option @{if (Model.LessPriceType == "Low") { <text>selected</text> } }>Low</option>
                                        <option @{if (Model.LessPriceType == "Close") { <text>selected</text> } }>Close</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>دوره تناوب قیمت ۱</label>
                                    <input id="MorePeriod" type="text" class="form-control" value="@Model.MorePeriod">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>دوره تناوب قیمت ۲</label>
                                    <input id="LessPeriod" type="text" class="form-control" value="@Model.LessPeriod">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>توضیحات</label>
                                    <textarea class="form-control" rows="4" id="Description">@Model.Description</textarea>
                                </div>
                            </div>
                            <button type="submit" onclick="EditRule(@Model.Id)" class="btn btn-primary">ویرایش</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function EditRule(Id) {
            var Name = $("#Name").val();
            var Symbol = $("#Symbol").val();
            var Description = $("#Description").val();
            var Indicator = $("#Indicator").val();
            var MorePriceType = $("#MorePriceType").val();
            var LessPriceType = $("#LessPriceType").val();
            var MorePeriod = $("#MorePeriod").val();
            var LessPeriod = $("#LessPeriod").val();

            var postData = {
                'Id': Id,
                'Name': Name,
                'Symbol': Symbol,
                'Description': Description,
                'Indicator': Indicator,
                'MorePriceType': MorePriceType,
                'LessPriceType': LessPriceType,
                'MorePeriod': MorePeriod,
                'LessPeriod': LessPeriod
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "Put",
                url: "Edit",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire('موفق!', data.message, 'success').then(
                            function (isConfirm) {
                                window.location.replace("/rule/index");
                            }
                        );
                    }
                    else {
                        swal.fire('هشدار!', data.message, 'warning');
                    }
                },
                error: function (request, status, error) {
                    swal.fire('هشدار!', request.responseText, 'warning');
                }
            });
        }
    </script>
}